img{
	width:10%;
	height:50%;
	margin:2% 45% ;

}
h2{
	text-align:center;
	color:WHITE;
	font-size:50px;
 
}
p{
		font-size:30px;
	color :white;
	margin : 2% 20%;
	background : rgba(0,150,0,0.3);
	padding:1%;
	

	border:10px	rgba(0,150,0,0.2) solid;
	border-raduis=50px;
	
}
body{
	background:  url("https://acesegypt.org/IMG_9694222.jpg") ;
}
iframe{
	margin-left : 30%;
	margin-right: 30%;
	background : rgba(0,150,0,0.3);
	padding:1%;
	

	border:10px	rgba(0,150,0,0.2) solid;
	border-raduis=50px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-left: 48%;
}



.fa-facebook {
  background: #3B5998;
  color: white;
}

